:root {
    /* ### Primary */

    --light_red: hsl(0, 100%, 67%);
    --light_red_transparent: hsla(0, 100%, 67%, 10%); 
    --orangey_yellow: hsl(39, 100%, 56%);
    --orangey_yellow_transparent: hsla(39, 100%, 56%, 10%);
    --green_teal: hsl(166, 100%, 37%);
    --green_teal_tranparent: hsla(166, 100%, 37%, 10%);
    --cobalt_blue: hsl(234, 85%, 45%);
    --cobalt_blue_transparent: hsla(234, 85%, 45%, 10%);

    /* ## Gradients */
    /*background*/
    --light_slate_blue: hsl(252, 100%, 67%);
    --light_royal_blue: hsl(241, 81%, 54%);
    --light_royal_blue_transparent: hsla(241, 81%, 54%, 20%);
    /*circle*/
    --violet_blue: hsla(256, 72%, 46%, 1);
    --persian_blue: hsla(241, 72%, 46%, 0);



    /* ### Neutral */

    --white: hsl(0, 0%, 100%);
    --pale_blue: hsl(221, 100%, 96%);
    --light_lavender: hsl(241, 100%, 89%);
    --dark_gray_blue: hsl(224, 30%, 27%);
    --dark_gray_blue_transparent: hsla(224, 30%, 27%, 20%);
}


@font-face {
    font-family: HankenGrotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    font-family: HankenGrotesk;
    font-size: 18px;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.result-main {
    background-image: linear-gradient(var(--light_slate_blue), 10%,var(--light_royal_blue));
    color: var(--white);
    border-radius: 0 0 35px 35px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.result-main p {
    /* margin: 1em 0; */
    text-align: center;
    width: 80%;
    font-weight: 500;
    opacity: 0.5;
}

.result-summary {
    margin-top: .5em;
    margin-bottom: 2em;
}


.result-main h2 {
    font-weight: 700;
    margin-top: 1em;
}

.result-header {
    margin: 1em;
}

.main-score {
    width: 150px;
    height: 150px;
    border-radius:  50%;
    background-image: linear-gradient(var(--violet_blue),30%, var(--persian_blue));


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-score h1 {
    font-weight: 800;
    font-size: 3em;
    padding-top: 0;
}

.main-score-text {
    margin: 0;
    padding: 0;
}

.main-text {
    margin: 1em 0;
}

.result-summary {
    padding: 1em;
}

.result-summary p {
    font-weight: 800;
    padding-left: 1em;
}

.result-summary span {
    font-weight: 500;
    opacity: .5;
    padding-left: .5em;
}



.result-summary-scores {
    display: flex;   
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    margin: 1em 0;
    padding: 1em .5em;
    
    border-radius: 10px;
}


.special-border{
    position: absolute;
    width: .5em;
    height: .5em;
    background-color: inherit;
    opacity: .05;
}

.UL {
    border-radius: 10px 0 0 0;
    border-top: 2.5px solid black;
    border-left: 2.5px solid black;
    top: 0;
    left: 0;
}

.UR {
    border-radius: 0 10px 0 0;
    border-top: 2.5px solid black;
    border-right: 2.5px solid black;
    top: 0;
    right: 0;
}

.LL {
    border-radius: 0 0 0 10px;
    border-bottom: 2.5px solid black;
    border-left: 2.5px solid black;
    bottom: 0;
    left: 0;
}

.LR {
    border-radius: 0 0 10px 0;
    border-bottom: 2.5px solid black;
    border-right: 2.5px solid black;
    bottom: 0;
    right: 0;
}

#reaction {
    background-color: var(--light_red_transparent);
}

#reaction .img-p-pair p {
    opacity: 1;
    color: var(--light_red);
}

#memory {
    background-color: var(--orangey_yellow_transparent);
}

#memory .img-p-pair p {
    color: var(--orangey_yellow);
}

#verbal {
    background-color: var(--green_teal_tranparent);
}

#verbal .img-p-pair p {
    color: var(--green_teal);
}

#visual {
    background-color: var(--cobalt_blue_transparent);
}

#visual .img-p-pair p {
    color: var(--cobalt_blue);
}

.img-p-pair {
    display: flex;
    align-items: flex-start;
}

.continue-button a{
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
    padding: 1em;
    display: block;
    background-color: var(--dark_gray_blue);
    color: white;
    text-align: center;
    border-radius: 35px;
}


@media(min-width: 700px){
    
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        max-width: 40em;
        display: flex;
        box-shadow: 0 4px 8px 0 var(--light_royal_blue_transparent), 0 6px 20px 0 var(--light_royal_blue_transparent);
        border-radius: 35px;
    }

    .result-main, .result-summary {
        width: 50%;
    }

    .result-main {
        border-radius: 35px;
    }
    
    .main-text {
        margin-top: 2.5em;
        margin-bottom: 1em;
    }

    .result-summary {
        padding: 2em;
    }

    .main-score-text {
        margin: 0;
    }

}