:root {
    /* ### Primary */

    --light_red: hsl(0, 100%, 67%);
    --orangey_yellow: hsl(39, 100%, 56%);
    --green_teal: hsl(166, 100%, 37%);
    --cobalt_blue: hsl(234, 85%, 45%);

    /* ## Gradients */
    /*background*/
    --light_slate_blue: hsl(252, 100%, 67%);
    --light_royal_blue: hsl(241, 81%, 54%);
    /*circle*/
    --violet_blue: hsla(256, 72%, 46%, 1);
    --persian_blue: hsla(241, 72%, 46%, 0);



    /* ### Neutral */

    --white: hsl(0, 0%, 100%);
    --pale_blue: hsl(221, 100%, 96%);
    --light_lavender: hsl(241, 100%, 89%);
    --dark_gray_blue: hsl(224, 30%, 27%);
}


@font-face {
    font-family: HankenGrotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    font-family: HankenGrotesk;
    font-size: 18px;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.result-main {
    background-image: linear-gradient(var(--light_slate_blue), 1%,var(--light_royal_blue));
    color: var(--white);
    border-radius: 0 0 35px 35px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.result-main p {
    margin: 1em 0;
    text-align: center;
    width: 80%;
    font-weight: 500;
    opacity: 0.5;
}

.result-main p:last-of-type {
    margin-top: .5em;
    margin-bottom: 2em;
}

.result-main h2 {
    font-weight: 700;
    margin-top: 1em;
}

.main-score {
    width: 150px;
    height: 150px;
    border-radius:  50%;
    background-image: linear-gradient(hsla(0, 0%, 30%, 1),10%,hsla(0, 0%, 20%, 0));


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-score h1 {
    font-weight: 800;
    font-size: 3em;
    padding-top: 1em;
}

.main-score p {
    margin: 0;
}

.result-summary {
    padding: 1em;
}


.result-summary-scores {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    margin: 1em 0;
    padding: 1em .5em;
    
    border-radius: 10px;

    background:
    linear-gradient(to right, black 4px, transparent 4px) 0 0,
    linear-gradient(to right, black 4px, transparent 4px) 0 100%,
    linear-gradient(to left, black 4px, transparent 4px) 100% 0,
    linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
    linear-gradient(to top, black 4px, transparent 4px) 0 100%,
    linear-gradient(to top, black 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;



}

.img-p-pair {
    display: flex;
    align-items: flex-start;
}